{
	http_port 80
	https_port 443
	log {
		level INFO
	}
}

https://example.com:443, https://api.example.com:443 {
	tls internal
	log
	@al_1 {
		remote_ip 1.2.3.4
	}
	abort @al_1
	handle /test {
		reverse_proxy 127.0.0.1:8080 {
		}
	}
}
